.container {
    margin: 20px 20px 20px 20px;
    height: auto;
    margin-bottom: 80px;
    margin-left: 15px;
    display: inline;
}

.fa-superpowers{
    color: white;
    margin-right: 20px;
}

/*Styling Content*/
h1 {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.lineTitle {
    width: 10%;
    border: 3px solid #1b242f;
    background: #1b242f;
}

.cardsContainer {
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 40px;
}

.h-100 {
    margin-bottom: 20px;
    padding: 20px;
    background: #1b242f;
}

/*Styling Project Cards*/
.card-text {
    color: #acacac;
    font-size:16px;
}

.cardhr {
    color: #acacac;
}

.btn{
    border: 2px solid #e31b6d;
    color: white;
    margin: 10px 10px 10px 10px;
}

.btn:hover{
    background: #e31b6d;
    color: white;
}

.card {
    border: 2px solid #1b242f;
}

.col {
    margin-bottom: 20px;
}

/*Styling for collapsible cards*/
.card-body {
    text-align: center;
    background-color: #1b242f;
    color: #04c2c9;
}

hr {
    color: #FFFFFF80;
    height: 1px;
}

h5 {
    color: #04c2c9;
}