/*Styling Content*/
h1 {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.fa-superpowers{
    color: white;
    margin-right: 20px;
}

.lineTitle {
    
    width: 10%;
    border: 3px solid #1b242f;
    background: #1b242f;
    
}

.animateOne {
    position: absolute;
    left: 0;
}

.animateTwo {
    right: 0;
    position: absolute;
}
/*Styling Links section*/
.contact-grid {
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

.fab {
    color: #04c2c9;
    border: none;
}

.far {
    color: #04c2c9;
    border: none;
}

/*Styline Form Section*/
h5 {
    color:  #acacac;
    text-align: center;
    margin: 40px;
}

.formContainer {
    margin-top: 20px;
    height: auto;
    margin-bottom: 80px;
    display: center;
}

.formWrapper {
    background: #1b242f;
    width: 80%;
    display: center;
    padding-bottom: 10px;
    margin: 0 auto;
}

.form-group {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
}

.btnSubmit{
    margin: 0 auto;
    display: block;
    justify-content: center;
    border: 2px solid #e31b6d;
    color: white;
    margin: 10px 10px 10px 10px;
    text-align: center;
}

.btnSubmit:hover{
    background: #e31b6d;
    color: white;
}

/*Styling Contact secion*/
.fas {
    color: #e31b6d;
    text-align: center;
}

.container {
    margin-bottom: 200px;
    justify-content: center;
    text-align: center;
    width: 80%;
}

.email {
    margin: auto;
    margin-top: 20px;
}
