/*header styling*/
.navbar{
    border-bottom: 5px solid #04c2c9;
    background-color:#1b242f;
    font-family: 'Courier New Sans Serif', Courier, monospace;
}

.navbar-brand {
    font-size: 36px;
}

a.nav-link.active {
    color: #e31b6d !important;
}

.navbar-nav > .active  a{
    font-size: 22px;
    color: #e31b6d;
}

.container {
    margin-top: 20px;
    height: auto;
}

.fa-superpowers{
    color: white;
    margin-right: 20px;
}

.nav-item a{
    color: #e31b6d;
}