.carousel-caption h5 {
    font-weight: bolder;
    color: #04c2c9;
    font-size: 1.5em; /* small size since this is the default in Bootstrap */
    text-align: center;
    vertical-align: top;
    
}

.carousel-caption p {
    font-size: 1em; /* small size since this is the default in Bootstrap */
    text-align:center;
    vertical-align: top;
}

.img-fluid {
    max-width: 100%;
    height: 100vh;
}

.carousel-caption {
    /* height:50vh; */
    border-radius: 50px;
    width: 80vh;
    justify-content: center;
    position: absolute;
    margin-inline: auto;
    vertical-align: center;
}

.carouselDiv {
    margin-top: 20px;
    height: 100vh;
    width: 90%;
    margin: auto;
    justify-content: center;
    text-align: center;
}